:root{
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-gren: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* Estilos de Login ---------------------------------------------------------------------- */
.o-login{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.o-form-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    /* justify-items: center; */
}

.o-logo{
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: none;
}

.o-title{
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: center;
}

.o-subtitle{
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
}

.o-form{
    display: flex;
    flex-direction: column;
}

.o-label{
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}

.o-input{
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 32px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
}

.o-button-primary{
    background-color: var(--hospital-gren);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}

.o-login-button{
    margin-top: 14px;
    margin-bottom: 30px;
}

.o-container-email{
    justify-items: center;
}
/* Estilos Email, (Ojo estilos anteriores se conservan)---------------------------------------------- */
.o-email-iamge{
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: var(--text-input-field);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.o-email-iamge img{
    width: 80px;
}

.o-resend{
    font-size: var(--sm);
}

.o-resend span{
    color: var(--very-light-pink);
}

.o-resend a{
    color: var(--hospital-gren);
    text-decoration: none;
}


/* Media Queri de login-------------------- */

@media (max-width: 640px) {
    .o-logo{
        display: block;
    }
    
}

